assignment1/src/main/mule/assignment1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5a70fcf-cf32-4a2a-8c7e-25e001b70e7c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignment1Flow" doc:id="a2a97bfa-09cc-4e39-950a-86b3f1c7a72f" >
		<http:listener doc:name="Listener" doc:id="ba67c6d0-42cb-456f-b772-138a28cadcc2" config-ref="HTTP_Listener_config" outputMimeType="application/json" path="/main"/>
		<ee:transform doc:name="Transform Message" doc:id="248ed80b-ae5c-410e-bf6e-4fbaf0bd3eea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome! " ++ payload.firstName ++ " " ++ payload.lastName ++ ". Your customer ID is " ++ payload.cid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
